<!DOCTYPE html>
<html>
  <head>
    <title>TaskManagerApi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>      <!-- related to webpack -->
    <%= javascript_pack_tag 'app' %>              <!-- related to app.js in app/javascript/packs/app.js -->
    <%= javascript_pack_tag 'api' %>              <!-- related to api.js in app/javascript/packs/api.js -->

  </head>

  <body>
    <%= yield %>
  </body>
</html>
